---
import { markdownify } from "@/lib/utils/textConverter";
import CustomButton from "../CustomButton.astro";
import ImageMod from "../ImageMod.astro";

const { integration } = Astro.props;
---

<section>
  <div class="container" data-aos="fade-up-sm" data-aos-delay="100">
    <div class="px-0 overflow-hidden relative rounded-xl bg-[#181c39]">
      <div
        class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full md:w-[inherit] z-30"
      >
        <div class="flex flex-col justify-center">
          <p
            set:html={markdownify(integration.title)}
            class="text-xl md:text-3xl lg:text-5xl xl:text-6xl text-center text-light w-full mb-3 md:mb-7"
          />
          <CustomButton
            className="mx-auto w-fit max-md:btn-sm"
            label={integration.button.label}
            link={integration.button.link}
          />
        </div>
      </div>

      <div
        class="before:bg-[url('/images/noise.png')] before:bg-cover before:bg-no-repeat before:w-full before:h-full before:absolute before:z-[1] before:opacity-40"
      >
        <ImageMod
          src={integration.image}
          alt="integration"
          width={0}
          height={0}
          class="w-full h-full object-cover"
        />
      </div>
      <div
        class="absolute bg-[#b3fc6a] aspect-[2.5/1] rounded-full bottom-[-347px] blur-[117px] h-[360px] left-[170px] rotate-[21deg] w-[71%] z-10"
      >
      </div>

      <div
        class="absolute right-[-160px] top-[-450px] w-[1250px] h-[488px] bg-[#5868fb] opacity-60 rounded-full blur-[172px] rotate-[13deg] z-10"
      >
      </div>
    </div>
  </div>
</section>
