---
import { getListPage } from "@/lib/contentParser.astro";
import { markdownify } from "@/lib/utils/textConverter";
import ImageMod from "./ImageMod.astro";

const brand = await getListPage("brandSection", "brand");
const { enable, title, logos } = brand.data;

if (!enable) {
  return null;
}
---

<section class="section">
  <div class="container">
    <div class="row gy-3 md:gy-5 justify-center">
      <div class="col-12">
        <p
          set:html={markdownify(title)}
          class="font-medium text-balance text-center max-lg:text-center max-lg:mb-7"
          data-aos="fade-up-sm"
        />
      </div>

      <div class="col-12">
        <div
          class="flex gap-5 items-center flex-wrap justify-center lg:justify-between w-full"
        >
          {
            logos.map((logo: string, index: number) => (
              <div data-aos="fade-up-sm" data-aos-delay={100 + index * 50}>
                <ImageMod
                  src={logo}
                  alt="company logo"
                  width={0}
                  height={38}
                  class="w-auto h-[32px]"
                />
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
