---
import BlogCard from "@/layouts/components/BlogCard.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { markdownify } from "@/lib/utils/textConverter";
import CallToAction from "@/partials/CallToAction.astro";
import type { CollectionEntry, CollectionKey } from "astro:content";
import { getEntry } from "astro:content";

const { blog_folder } = config.settings;
const blogIndex = (await getEntry(
  blog_folder as any,
  "-index"
)) as CollectionEntry<"blog">;

const blogs = await getSinglePage(blog_folder as CollectionKey);

const call_to_action = (await getEntry(
  "ctaSection",
  "call-to-action"
)) as CollectionEntry<"ctaSection">;
---

<Base title="blog" meta_title="blog" description="description">
  <section class="section">
    <div class="container">
      <div class="mx-auto text-center">
        <h1
          class="pb-4"
          data-aos="fade-up-sm"
          set:html={markdownify(blogIndex.data.title)}
        />
        <p
          class="pb-8 text-balance text-text/70"
          data-aos="fade-up-sm"
          set:html={markdownify(blogIndex.data.description!)}
        />
      </div>
    </div>
  </section>
  <section class="section pt-0">
    <div class="container">
      <div class="row g-5">
        {blogs.map((blog, i) => <BlogCard blog={blog} index={i} />)}
      </div>
    </div>
  </section>

  <CallToAction cta={call_to_action.data} />
</Base>
