---
import BlogCard from "@/components/BlogCard.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getListPage, getSinglePage } from "@/lib/contentParser.astro";
import { markdownify } from "@/lib/utils/textConverter";
import CallToAction from "@/partials/CallToAction.astro";

const { blog_folder } = config.settings;

const blogIndex = await getListPage(blog_folder, "-index");
if (blogIndex.data.draft) {
  return Astro.redirect("/404");
}

const blogs = await getSinglePage(blog_folder);
---

<Base title="blog" meta_title="blog" description="description">
  <section class="section">
    <div class="container">
      <div class="mx-auto text-center">
        <h1
          class="pb-4"
          data-aos="fade-up-sm"
          set:html={markdownify(blogIndex.data.title)}
        />
        <p
          class="pb-8 text-balance text-text/70"
          data-aos="fade-up-sm"
          set:html={markdownify(blogIndex.data.description!)}
        />
      </div>
    </div>
  </section>
  <section class="section pt-0">
    <div class="container">
      <div class="row g-5">
        {blogs.map((blog, i) => <BlogCard blog={blog} index={i} />)}
      </div>
    </div>
  </section>

  <CallToAction />
</Base>
