/* aos animation */
[data-aos="fade-up-sm"] {
  transform: translateY(30px);
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: translateY(0);
    opacity: 1;
  }
}
[data-aos="fade-down-sm"] {
  transform: translateY(-15px);
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: translateY(0);
    opacity: 1;
  }
}
[data-aos="fade-left-sm"] {
  transform: translateX(30px);
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: translateX(0);
    opacity: 1;
  }
}
[data-aos="fade-right-sm"] {
  transform: translateX(-30px);
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: translateX(0);
    opacity: 1;
  }
}
[data-aos="zoom-out-sm"] {
  transform: scale(1.05);
  opacity: 0.5;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: scale(1);
    opacity: 1;
  }
}
[data-aos="zoom-in-sm"] {
  transform: scale(0.9);
  opacity: 0.5;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: scale(1);
    opacity: 1;
  }
}

/* spin-animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin-animation {
  animation: spin 60s linear infinite;
}

@keyframes line-slide {
  0% {
    background-position: -5% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
