/* section style */
.section {
  @apply py-24 xl:py-28;
}

/* container */
.container {
  @apply mx-auto max-w-[1460px] px-6 md:px-20;
}

.profileImages {
  @apply w-[65px] h-[65px] inline-block rounded-full border-[3px] border-light object-cover;
}

/* social icons */
.social-icons {
  @apply space-x-4;
  li {
    @apply inline-block;
    a {
      @apply flex h-9 w-9 items-center justify-center rounded bg-primary text-center leading-9 text-white;
      svg {
        @apply h-5 w-5;
      }
    }
  }
}

/* notice */
.notice {
  @apply mb-6 rounded-lg border px-8 py-6;
}
.notice-head {
  @apply flex items-center;
  svg {
    @apply mr-3;
  }
  p {
    @apply font-secondary text-xl font-semibold text-text-dark;
  }
}
.notice-body {
  @apply mt-3;
  p {
    @apply my-0;
  }
}
.notice.note {
  @apply text-[#1B83E2];
  @apply border-current;
}
.notice.tip {
  @apply text-[#40D294];
  @apply border-current;
}
.notice.info {
  @apply text-[#E3A72C];
  @apply border-current;
}
.notice.warning {
  @apply text-[#DB2C23];
  @apply border-current;
}

/* tab */
.tab {
  @apply overflow-hidden rounded-lg border border-border;
}
.tab-nav {
  @apply flex border-b border-border bg-light;
  @apply m-0!;
  @apply list-none!;
}
.tab-nav-item {
  @apply cursor-pointer border-b-[3px] border-transparent py-2 text-lg text-text-dark opacity-80;
  @apply my-0!;
  @apply px-8!;
}
.tab-nav-item.active {
  @apply border-b-[3px] border-text-dark opacity-100;
}
.tab-content {
  @apply px-5;
}
.tab-content-panel {
  @apply p-8;
  p {
    @apply mb-0;
  }
}
.tab-content-panel.active {
  @apply block;
}

/* swiper pagination */
.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

/* accordion */
.accordion {
  @apply overflow-hidden;
}
.accordion-header {
  @apply w-full flex items-center justify-between text-2xl cursor-pointer;
}
.accordion-content {
  @apply text-lg text-text/70;
  p {
    @apply text-lg text-text/70;
  }
}
.accordion.active {
  .accordion-content {
    @apply pt-6;
  }
}

/* content style */
.content {
  @apply [&>*:first-child]:mt-0 [&>*:first-child]:pt-0;
  @apply prose max-w-none;
  @apply prose-headings:mb-[.3em] prose-headings:mt-[.6em] prose-headings:text-text;
  @apply prose-h1:text-h1-sm md:prose-h1:text-h1;
  @apply prose-h2:text-h2-sm md:prose-h2:text-h2;
  @apply prose-h3:text-h3-sm md:prose-h3:text-h3;
  @apply prose-img:max-w-full prose-img:rounded;
  @apply prose-hr:border-border;
  @apply prose-p:text-xl prose-p:leading-[30px] prose-p:text-text;
  @apply prose-blockquote:rounded-lg prose-blockquote:border prose-blockquote:border-l-[10px] prose-blockquote:border-primary prose-blockquote:bg-light prose-blockquote:px-8 prose-blockquote:py-10 prose-blockquote:text-2xl prose-blockquote:not-italic prose-blockquote:text-text;
  @apply prose-pre:rounded-lg prose-pre:bg-light;
  @apply prose-code:px-1 prose-code:text-primary;
  @apply prose-strong:text-text;
  @apply prose-a:text-text prose-a:underline prose-a:hover:text-primary;
  @apply prose-li:text-text prose-li:text-xl;
  @apply prose-table:relative prose-table:overflow-hidden prose-table:rounded-lg prose-table:before:absolute prose-table:before:left-0 prose-table:before:top-0 prose-table:before:h-full prose-table:before:w-full prose-table:before:rounded-[inherit] prose-table:before:border prose-table:before:border-border prose-table:before:content-[""];
  @apply prose-thead:border-border prose-thead:bg-light;
  @apply prose-th:relative prose-th:z-10 prose-th:px-4 prose-th:py-[18px] prose-th:text-text;
  @apply prose-tr:border-border;
  @apply prose-td:relative prose-td:z-10 prose-td:px-3 prose-td:py-[18px];
}

.step-card {
  @apply relative px-12 py-9 max-lg:border-b lg:border-e border-border last:border-b-0 last:border-e-0 last:after:hidden max-lg:after:hidden after:content-[''] after:bg-[url('/src/icons/right.svg')] after:bg-no-repeat after:w-12 after:h-12 after:absolute after:right-[-24px] after:top-1/2 after:-translate-y-1/2 after:bg-[length:50%] after:bg-center after:bg-accent after:rounded-full after:text-text-dark;
}

.pricing-table {
  td {
    h5 {
      @apply p-0 font-extrabold max-lg:text-center max-lg:text-lg max-lg:font-normal;
    }
    svg {
      @apply mx-auto flex-nowrap;
    }
    @apply flex-nowrap;
  }

  /* Additional mobile styling */
  @media (max-width: 768px) {
    td,
    th {
      @apply block w-full;
    }
  }
}
