---
export interface Props {
  link: string;
  label: string;
  class?: string;
}

const { link, label, class: className }: Props = Astro.props;
---

<a href={link} class={`btn btn-primary ${className ?? ""}`.trim()}>
  {label}
</a>


