---
import config from "@/config/config.json";
---

<a href="/" class="inline-flex items-center">
  <img src={config.site.logo} width={config.site.logo_width} height={config.site.logo_height} alt={config.site.logo_text} />
</a>


