---
---

<div class="fixed bottom-4 right-4 z-[9999] text-xs px-2 py-1 rounded bg-black/60 text-white pointer-events-none select-none">
  <span class="block sm:hidden">xs</span>
  <span class="hidden sm:block md:hidden">sm</span>
  <span class="hidden md:block lg:hidden">md</span>
  <span class="hidden lg:block xl:hidden">lg</span>
  <span class="hidden xl:block 2xl:hidden">xl</span>
  <span class="hidden 2xl:block">2xl</span>
  <span class="ml-2">•</span>
  <span class="ml-1">TW</span>
</div>


