---
import CaseCard from "@/components/case/CaseCard.astro";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import CallToAction from "@/partials/CallToAction.astro";
import { render } from "astro:content";

export async function getStaticPaths() {
  const cases = await getSinglePage("case");

  const paths = cases.map((singleCase) => ({
    params: {
      single: singleCase.id,
    },
    props: { singleCase },
  }));
  return paths;
}

const cases = await getSinglePage("case");

const { singleCase } = Astro.props;

const { Content } = await render(singleCase);
---

<Base title={singleCase.data.title} description={singleCase.data.description}>
  <section class="section" data-aos="fade-up-sm">
    <div class="container">
      <CaseCard caseItem={singleCase} />

      <article
        class="bg-light px-14 py-8 lg:px-52 lg:py-24 rounded-2xl"
        data-aos="fade-up-sm"
        data-aos-delay="100"
      >
        <div class="content">
          <Content />
        </div>
      </article>
    </div>
  </section>

  <section class="section pt-0" data-aos="fade-up-sm" data-aos-delay="200">
    <div class="container">
      <h4>Check Next Story</h4>
      <CaseCard caseItem={cases[1]} color="bg-tertiary" />
    </div>
  </section>

  <CallToAction />
</Base>
